/*General estilo*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}
/*Header*/
header{
    background-color: #5b8498e9;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    width: 94%;
    margin: 0 auto;
}
header h1{
    margin: 0 auto;
}
header p{
    margin: 4px 0;
    line-height: 1.1;
}
/*Perfil de foto*/
header img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 4px solid white;
    position: absolute;
    top: 30px;
    right: 40px;
}
/*seccion titulos*/
h2 {
    color:#5b8498e9;
    border-bottom: 2px solid #5b8498e9;
    padding-bottom: 5px;
    margin-bottom:10px;

}
/*Estilo general de la seccion*/
section{
    margin: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 8px;
   
}
/*Estilo de article*/
article{
    margin-bottom: 20px;
}
/*listas*/
ul{
    margin: 10px 0;
    padding-left: 20px;
}
ul li{
    margin: 5px 0;
}
/*Responsive Design*/
@media (max-width: 768px){
    header{
        flex-wrap: wrap;
        text-align: center;
    }
    header img{
        position: static;
        margin: 10px auto;
    }
}
#referencias p{
   margin: 5px 0;
   line-height: 1.2;

}
#referenciascomer p{
    margin: 5px 0;
    line-height: 1.2;
 
 }